body{
    margin: auto;
    min-height: 100%;
    background-image: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    -webkit-text-fill-color: rgb(131, 109, 109);
   
}
    

h1 {
    text-align: center;

    padding: 1.5rem;

}

div {
    text-align: center;
    font-size: 1.3rem;
    padding: 1.5rem;
    margin: auto;
}